<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link href='/spaces_index.css' rel='stylesheet' type='text/css'>
    <title>Spaces</title>
  </head>
  <body>
    <section class='message'>
      Book unique homes and experience a city like a local
    </section>
    <section class='page-heading'>
      <h2> Book a Space </h2>
    </section>
    <section>
      <ul class='spaces'>
        <% @spaces.each do |space| %>
          <p class='space'>
            <label><%= space.name %></label></br>
            <label><%= space.description %></label><br/>
            <label>
              Price per Night: £<%= '%.2f' % space.price_per_night %> |
              Available From: <%= Date.parse(space.available_from.to_s).strftime('%d-%b-%Y') %> |
              Available To: <%= Date.parse(space.available_to.to_s).strftime('%d-%b-%Y') %>
            </label>
            <!-- Figure out how to add the form tags without messing up the layout -->
            <input class='buttons' type='submit' value='Book'/>
            </form>
          </p>
        <% end %>
      </ul>
    </section>
  </body>
</html>
