<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link href='/style.css' rel='stylesheet' type='text/css'>
    <title>Spaces</title>
  </head>
  <body>
    <section class='message'>
      Book unique homes and experience a city like a local
    </section>
    <section class='page-heading'>
      <h2> Book a Space </h2>
    </section>
    <section>
      <ul class='spaces'>
        <% @spaces.each do |space| %>
          <p class='space'>
            <label><%= space.name %></label></br>
            <label><%= space.description %></label><br/>
            <label>
              Price per Night: £<%= '%.2f' % space.price_per_night %> |
              Available From: <%= space.available_from %> |
              Available To: <%= space.available_to %>
            </label>
          </p>
        <% end %>
      </ul>
    </section>
  </body>
</html>
