<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link href='/requests_index.css' rel='stylesheet' type='text/css'>
    <title>Requests</title>
  </head>
  <body>
    <section class='message'>
      All your requests in one place
    </section>
    <section class='page-heading'>
      <h2> Requests </h2>
    </section>
    <section class='requests' id='requests-made'>
      Requests I've Made <br>
      <% @requests_made.each do |request_made| %>
        <p class='request'>
          <%= request_made.space.name%></br>
          <%= request_made.status%></br>
          <%= Date.parse(request_made.night.to_s).strftime('%d-%b-%Y')%></br>
          <form action='/requests/made' method='post'>
            <input type='hidden' name='request_made_id' value='<%= request_made.id %>'>
            <input class='buttons' type='submit' value='Show'/>
          </form>
          <br>
        </p>
      <% end %>
    </section>
    </br>
    <section class='requests' id='requests-received'>
      Requests I've Received <br>
      <% @requests_received.each do |request_received| %>
        <p class='request'>
          <%= request_received.space.name%></br>
          <%= request_received.status%></br>
          <%= Date.parse(request_received.night.to_s).strftime('%d-%b-%Y')%></br>
          <form action='/requests/received' method='post'>
            <input type='hidden' name='request_received_id' value='<%= request_received.id %>'>
            <input class='buttons' type='submit' value='Show'/>
          </form>
          <br>
        </p>
      <% end %>
    </section>
  </body>
</html>
